name: checkstack

services:
  postgres:
    image: postgres:16-alpine
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    env_file: .env
    ports:
      - "5050:80"
    volumes:
      - ./servers.json:/pgadmin4/servers.json

volumes:
  postgres_data:
